body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(0, 32, 57, 0.8);
}
.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 20px;
  max-width: 600px;
  min-width: 300px;
}

.close-modal {
  position: absolute;
  border-radius: 10%;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
  color: white;
}
.query-no{
  background-color: red;
}
.query-yes{
  background-color: rgb(132, 87, 175);
  margin-right: 5px;
}
.query{
  align-self: center;
}

@media screen {
  .close-modal{
    width: 30%;
  }
  
}