.card-container {
  padding: 5%;
  background-color: #f6fcff;
}

/* Filter(sort) Styles */
.hotelfilter_container {
  padding: 5%0%5%0%;
}
.top_span {
  display: flex;
  justify-content: space-between;
}
.first_span {
  padding: 8px 12px;
  border: 1px solid #2067a1;
  border-radius: 5px;
  /* display: inline-block; */
  /* margin-right: 10px; */
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  float: left;
}
.span-btn {
  padding: 6px 10px;
  color: #2067a1;
  cursor: pointer;
}

.span-btn1 {
  padding: 6px 10px;
  color: #2067a1;
  cursor: pointer;
}

.active-hotel1 {
  background-color: #2067a1;
  color: #ffffff;
}


.second_span {
  padding: 8px 12px;
  border: 1px solid #2067a1;
  border-radius: 5px;
  /* display: inline-block; */
  /* margin-right: 20px; */
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  position: relative;
  float: right;
}
/* .first_second{ */


/* Auto layout

display: flex;
flex-direction: row;
justify-content: space-between;
padding: 15px 11px;


position: absolute;
background: #FFFFFF;
border: 1px solid #2067A1;
} */
.top-pick-btn {
  padding: 8px 12px;
  color: #2067a1;
  cursor: pointer;
}
.active-hotel {
  background-color: #2067a1;
  color: #ffffff;
}
.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.label {
  color: black;
  padding: 10px;
}
.listings-label {
  font-weight: normal;
}
.sort {
  color: darkblue;
  display: flex;
}
.select-drop-down {
  border-radius: 10px;
  padding: 10px;
  margin: 2px;
}
.hotelfilter_container {
  background-color: #f6fcff;
}
/* Card Styles */
.list-card {
  display: flex;
  border-radius: 12px;
  background-color: white;
  margin-bottom: 4%;
  padding: 2%;

  box-shadow: 0px 2px 0px #6f6f7029;
}
.list-card:hover {
  box-shadow: 1px 2px 9px #2067a139;
  cursor: pointer;
}

.list-card-review {
  display: flex;
  font-weight: lighter;
  padding: 0px 40px 40px 0px;
  font-size: smaller;
}

.review-text {
  padding-right: 20px;
  text-align: right;
  cursor: text;
}

.rate-num {
  background-color: #2067a1;
  color: white;
  /* margin: 5px; */
  padding: 15px;
  height: 20px;
  border-radius: 3px;
  cursor: auto;
}
.list-card-content {
  max-width: 45%;
  padding: 40px;
  padding-top: 0%;
  cursor: text;
}
.h2 {
  color: #2067a1;
}
.h4 {
  font-weight: normal;
}
.pagination {
  padding: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}
:where(.css-dev-only-do-not-override-1n7nwfa).ant-pagination
  .ant-pagination-item-active
  a:hover {
  color: #ffff;
}

:where(.css-dev-only-do-not-override-1n7nwfa).ant-pagination
  .ant-pagination-item-active
  a {
  background-color: #2067a1;
  color: white;
  border-color: #2067a1;
}
#overlay{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.hotel-container{
  background-color: white;
  position: absolute;
  width: fit-content;
  padding: 10px;
  overflow-y:auto ;
  box-shadow: #5a626825 10px 10px 10px;
  display: flex;
  flex-direction: column;
}

.hotel-container1{
  background-color: white;
  position: absolute;
  width: fit-content;
  padding: 10px;
  overflow-y:auto ;
  box-shadow: #5a626825 10px 10px 10px;
  display: flex;
  flex-direction: column;
}

.holder{
  align-items: center;
  width: 200px;
  height: 50px;
  position: relative;

}

.holder1{
  align-items: center;
  width: 200px;
  height: 50px;
  position: relative;

}

