.resetContainer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.resetForm {
  display: flex;
  flex-direction: column;
}

.newPassword {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
}
input {
  width: 30%;
  padding: 10px;
  border: 1px solid #2067A1;
  border-radius: 4px;

}

button {
  margin-top: 1rem;
  background: #2067a1;
  padding: 10px;
  width: 32%;
  border: none;
}

@media screen  and (max-width:600px){
   input {
  width: 80%;
  padding: 10px;
  border: 1px solid #2067A1;
  border-radius: 4px;
   }


  button {
  margin-top: 1rem;
  background: #2067a1;
  padding: 10px;
  width: 80%;
  border: none;


}
    
}
