*{padding:0; margin:0; box-sizing: border-box; font-family:"Bahnschrift SemiBold", sans-serif;}
.pay-header{
	width: 100vw;
	min-height: 110vh;
	background: #cde4fa;
	font-size: 1.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pay-title{
  position:absolute;
  top: 0;
  font-weight: bolder;
}

.pay-title-name{
  font-weight: 800;
}

.pay-container{
	background: rgb(255, 255, 255);
	max-width: 800px;
	min-height: 500px;
	display: flex;
	justify-content:space-between;
	align-items: flex-start;
	padding: 0.5rem 1.5rem;
  position: relative;
  border-radius: 25px;
  border: 1px solid #173752
}
.pay-left{
	flex-basis: 50%;
}
.pay-right{
	flex-basis: 50%;
}
#pay-form{
	padding: 1rem;
}

.pay-h3{
	margin-top: 1rem;
	color:#2c3e50;
	}

#pay-form input[type="text"]{
	width: 100%;
	padding: 0.5rem 0.7rem;
	margin: 0.5rem 0;
	outline: none;
}

#pay-zip{
	display: flex;
	margin-top: 0.5rem;
}
#pay-zip select{
	padding: 0.5rem 0.7rem;
}
#pay-zip input[type="number"]{
	padding: 0.6rem 0.8rem;
	margin-left: 5px;
	align-self: flex-start;	
}
.pay-submit[type="submit"]{
	width: 100%;
	padding: 0.5rem 1.5rem;
	background: #0d5dac;
	color: white;
	border: none;
	outline: none;
	margin-top: 1rem;
	cursor: pointer;
  border-radius: 25px;
  
 
}

.pay-submit[type="submit"]:hover{
	background: #287d8e;
}

.pay-img {
  max-width: 350px; 
  max-height: 350px; 
}

.pay-input{
	width: 150px;
}
.pay-input2{
	width: 150px;
}

#pay-promo{
  padding: 1rem;
}
#pay-promo input[type="number"]{
  width: 100%;
	padding: 0.5rem 0.7rem;
	margin: 0.5rem 0;
	outline: none;
}

@media only screen and (max-width: 770px){
	.pay-container{
		flex-direction: column;
	}
	body{
		overflow-x: hidden;
	}
}
