/* The side navigation menu */
.sidenav {
    height: 200%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 90px; /* Stay at the top */
    left: 0;
    background-color:#2067A1; /* White*/
    overflow-x: hidden; /* Disable horizontal scroll */
    /*padding-top: 20px;  Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  /* The navigation menu links */
  .sidenav div a {
    padding: 25px 10px 25px 10px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
    height: 7rem;
    /* background-color:black; */
  }

  .sidenav div a img{
    width: 3rem;
  }

  .sidenav div{
    text-align: center;
  }

  .logout div a img{
    width: 2rem;  
    padding-top: 1rem;
  }
  .logout div a{
    font-size: 1rem;
  }
  
.sidenav .tab:active{
    color: black ;
    background-color: white;
  }
  
  
  /* When you mouse over the navigation links, change their color */
  /* .sidenav a:hover {
    color: #f1f1f1;
  }
   */
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    padding-top: 6rem;
    margin-left: 250px;
    transition: margin-left .5s;
    background-color: #F6FCFF;
  }
  

.nav{
    display: flex;
    background-color: white;
    position: fixed;
    z-index: 2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }

.menu{
    padding:0.6rem;
    margin-left: 1.7rem;
    font-size: 2rem;
}

.nav input{
    padding:0.7rem;
    margin: 1rem;
    margin-left: 15rem;
    width: 17rem;
    background: url(../assets/Search.svg) no-repeat scroll left;
    background-color: #F6FCFF;
    padding-left:30px;
}

.right-nav{
    display: flex;
    justify-content: flex-end;
    width: 50rem;
}
.bell{
    /* padding:0.6rem; */
    margin: 0.7rem;
    margin-right: 1rem;
    font-size: 1.3em;
    align-self: center;
}
.name{
    padding:0.7rem;
    margin: 0.7rem;
    margin-right: 1rem;
    font-size: 1.3rem;
    align-self: center;
    /* background-color: gray; */
    border-left: 2px solid black;
}
.profile, .dropdownImg{
    padding:0.4rem;
    margin: 0.2rem;
    margin-right: 35px;
    font-size: 1.3em;
}

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }