.change_paswdLogo {
  width: 304.09px;
  height: 233.77px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: -30px;
}
.change_pswd_container {
  background-color: #f6fcff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 620px;
}
.reset_pswdButton {
  background-color: #2067a1;
  border-radius: 2px;
  width: 490px;
  height: 30px;
  border: 1px solid;
  margin-top: 20px;
  border-color: #2067a1;
  color: white;
  margin-bottom: 20px;
}
.change_pswd {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 400px;
  margin-top: auto;
  margin-bottom: auto;
}
.change_reset_form > a {
  text-decoration: none;
}
.change_pswd_container p {
  font-family: Roboto;
  width: 322px;
  height: 20px;
  font-weight: 400;
  font-size: 10px;
  color: #2067a1;
  text-align: center;
}
.change_reset_form {
  margin-top: -50px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.change_reset_form > form > input {
  width: 472px;
  height: 30px;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 2px solid;
  border: 1px solid #2067a1;
  font-size: 14px;
  padding-left: 15px;
}
::placeholder {
  color: #2067a1;
}
