
 .reset_paswdLogo{
    width: 304.09px;
    height: 233.77px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: -30px;
  }
  .reset_pswd_container{
   background-color: #F6FCFF;
    display: flex;
    flex-direction: column;
    align-items: center;
   height: 620px;
  }
  .reset_pswdButton{
    background-color: #2067A1;
    border-radius: 2px;
    width: 490px;
    height: 30px;
    border: 1px solid;
    margin-top: 20px;
    border-color:#2067A1;
    color: white;
    margin-bottom: 20px;
  }
  .reset_pswd{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .reset_pswd > h5 {
    font-family: Roboto;
    width: 322px;
    height: 20px;
    font-weight: 400;
    font-size: 18px;
    color:#2067A1;
  }
  .reset_pswd_form{
    margin-top: -50px;
  }
  .reset_pswd_form > form > input {
    width: 472px;
    height: 30px;
    margin-bottom: 15px;
    background-color: white;
    border-radius:2px solid;
    border:1px solid #2067A1;
   font-size:14px ; 
   padding-left:15px;
  }
  ::placeholder{
    color: #2067A1;
  }
  