.container {
    padding: 30px;
}

.amenities-h1 {
    color: #606f89;
}

.table-header {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 0 0;
    align-items: center;
    background-color: #eaeef3;
    padding: 1.5rem 1.5rem;
    border-radius: .6rem .6rem 0 0;
}

.amenity-filter-search {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.amenities-search-container {
    position: relative;
}

.search-icon {
    position: absolute;
    top: .55rem;
    left: .6rem;
    cursor: pointer;
    color: rgb(96, 111, 137);
}

.amenities-search-input {
    border-radius: .3rem;
    padding: .5rem .5rem .5rem 2rem;
    width: 17rem;
    border: none;
    outline: none;
    background-color: #DAE1EC;
    font-size: 1rem;
    color: #606f89;
}

.amenities-search-input::placeholder {
    color: #606f89;
}

.filter-icon {
    color: white;
    font-size: 2rem;
    color: #2067A1;
    margin-right: 1rem;
    cursor: pointer;
}

.create-amenity-button {
    font-size: .9rem;
    background-color: #2067A1;
    border-radius: .2rem;
    margin: auto 0;
    padding: .5rem;
    display: flex;
    color: white;
    border: none;
    cursor: pointer;
}

.create-amenity-button:hover {
    background-color: #151515;
}

.amenities-table {
    background-color: #eaeef3;
    width: 100%;
    text-align: left;
    padding: 0;
    color: #7d90b2;
}

.ameneties-table tr td {
    border-radius: 2rem;
}

td,
th {
    padding: .5rem;
}

tr:nth-child(even) {
    background-color: #f4f7fc;
}

.table-icons {
    font-size: 1.5rem;
    cursor: pointer;
}

.table-icons-hover:hover {
    color: #1d5887;
}

.first-column {
    padding-left: 1.6rem;
}